{% extends "templates/app.twig" %} {% block naslov %}
<div class="row">
  <div class="col-lg-4 offset-lg-4">
    <h1 class="display-3 text-info">
      <i class="fas fa-sign-in-alt"></i> Prijava
    </h1>
    <hr />
    <form action="{{ path_for('prijava') }}" method="POST">
      {{ csrf | raw }}
      <div class="form-group">
        <label for="korisnicko_ime">Korisničko ime</label>
        <input class="form-control" type="text" name="korisnicko_ime" id="korisnicko_ime"
          value="{{ old.korisnicko_ime }}" autocomplete="off" />
      </div>
      <div class="form-group">
        <label for="lozinka" class="uk-form-label">Lozinka</label>
        <input class="form-control" type="password" name="lozinka" id="lozinka" class="uk-input" autocomplete="off" />
      </div>
      <div class="btn-group float-right">
        <input type="submit" value="Prijavi se" class="btn btn-info" />
        <a href="{{ path_for('pocetna') }}" class="btn btn-warning">Otkaži prijavu</a>
      </div>
    </form>
  </div>
</div>
{% endblock naslov %}
