{% if flash('info') %}
<div class="alert alert-info alert-dismissible fade show" role="alert">
  {% for msg in flash('info') %}
  {{ msg }}
  {% endfor %}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %} {% if flash('warning') %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {% for msg in flash('warning') %}
  {{ msg }}
  {% endfor %}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %} {% if flash('success') %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {% for msg in flash('success') %}
  {{ msg }}
  {% endfor %}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %} {% if flash('danger') %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {% for msg in flash('danger') %}
  {{ msg }}
  {% endfor %}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
