<div class="container-fluid clearfix bg-dark text-light ne_stampaj mobilni">
  <p class="float-left mb-1">
    <em>&copy; {{ 'now'|date('Y') }} ChaSha One All Rights Reserved</em>
  </p>
  <p class="float-right mb-1">
    Korisnik: {{ auth.logged ? auth.user.ime : "Gost" }}
  </p>
</div>
